body {
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    background-color: lightskyblue;
}

.columnPadded {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    background-color: lightskyblue;
    padding: 10px
}

.main {
    margin: auto;
    margin-top: 20px;
    width: 50%;
    padding: 20px;
    margin-bottom: 100px;
    background-color: pink;
    font-size: 16px;
}

/* Navbar itself */  
.navBar{
    background-color: turquoise;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 50px;
    height: 50px;
}

/* Container with "James Cook" */  
.headerBrand {
    float:left;
    background-color: teal;
    vertical-align: middle;
    margin-left: 100px;
    font-style: oblique;
    font-size: 30px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

/* Container with "About/Portfolio/Contact" */  
.headerMenu {
    background-color: wheat;
    float:right;
    vertical-align: middle;
    margin-right: 100px
}

.navItem {
    float:left;
    padding-left:10px;
    padding-right:10px;
}

.portfolioImg {
    width: 300px;
    height: 200px
}