body {
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    background-color: white;
    padding-right: 15px
}

.columnPadded {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    background-color: white;
    padding-right: 15px
}

.main {
    margin: auto;
    margin-top: 20px;
    width: 50%;
    padding: 20px;
    margin-bottom: 100px;
    background-color: white;
    font-size: 16px;
}

/* Navbar itself */  
.navBar{
    background-color: white;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 50px;
    height: 50px;
}

/* Container with "James Cook" */  
.headerBrand {
    float:left;
    background-color: white;
    vertical-align: middle;
    margin-left: 100px;
    font-style: oblique;
    font-size: 30px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

/* Container with "About/Portfolio/Contact" */  
.headerMenu {
    background-color: white;
    float:right;
    vertical-align: middle;
    margin-right: 100px
}

.navItem {
    float:left;
    padding-left:10px;
    padding-right:10px;
}

.portfolioItem {
    padding-top: 40px;
    background-color: white;
}

.portfolioImg {
    padding-top: 20px;
    width: 100%;
    width: 100%;
}

.form-control {
    width: 97%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding: 10px
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    font-size: 16px;
}

.times {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

