div {
    font-family: 'Times New Roman', Times, serif;
}

.main {
    margin: auto;
    margin-top: 20px;
    width: 50%;
    padding: 20px;
    margin-bottom: 100px;
    background-color: pink;
}

/* Navbar itself */  
.navBar{
    background-color: turquoise;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 50px;
    height: 50px;
}

/* Container with "James Cook" */  
.headerBrand {
    float:left;
    background-color: teal;
    vertical-align: middle;
    margin-left: 100px;
    font-style: oblique;
    font-size: 30px;
    color: white;
}

/* Container with "About/Portfolio/Contact" */  
.headerMenu {
    background-color: wheat;
    float:right;
    vertical-align: middle;
    margin-right: 100px
}

.navItem {
    float:left;
    padding-left:10px;
    padding-right:10px;
}